* {
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	text-align: center;
	font-family: "Montserrat", sans-serif;
}

body {
	margin-bottom: 10%; 
}

img {
	padding-top: 3%;
	margin-top: 30px;
	padding-bottom: 1%;
	width: 400px;
	max-width: 70%;
}

hr {
	width: 900px;
	max-width: 100%;
	display: block;
	margin: 20px auto 10px auto;
 	border: 0; 
 	height: 1px; 
 	background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0));}

a {
	color: #000;
	text-decoration: none;
}

.title {
	font-family: "Montserrat", sans-serif;
	font-size: 25px;
	font-weight: 100;
	letter-spacing: .4vw;
	line-height: 50px;
	margin-bottom: 5px;
}

.links {
	font-family: sans-serif;
	font-size: 15px;
	font-weight: 100;
	letter-spacing: 1.5px;
	line-height: 25px;
	margin-right: 5px;
	margin-left: 5px;
}

.imageInfo {
	font-size: 10px;
	letter-spacing: .15vw;
	font-weight: 150;
}

#icons {
  background-color: white;
}

#icons img {
  opacity: .075;
  padding: 0;
  margin: 22.5px 3px 0;
  transition: .2s;
  max-width: none;
}

#icons img:hover {
  opacity: .3;
  transition: .2s;
}

#icons a:nth-child(1) img {
  width: 24px;
}

#icons a:nth-child(2) img {
  width: 20px;
}

#icons a:nth-child(3) img {
  width: 21.5px;
  margin-left: 6px; 
}


button {
	width: 200px;
/*	max-width: 25%;
*/	height: 20px;
	margin: .5% .5%;
	background-color: rgba(0,0,0,.1);
	border-style: none;
	border-radius: 6px;
	color: grey;
	font-weight: 400;
	transition: 1s;
}

button:hover {
	background-color: rgba(0,0,0,.125);
	width: 210px;
	transition: 1s;
	cursor: pointer;
}